server:
  port: 8083 # 确保不和 8080/8081/8082 冲突

spring:
  application:
    name: order-service # 服务名
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mypetstore-product?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
  data:
    redis:
      host: localhost
      port: 6379

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

logging:
  level:
    com.csu.mypetstoreorderservice: debug

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: '订单服务'
      paths-to-match: '/**'
      packages-to-scan: com.csu.mypetstoreorderservice.controller
      # MyPetStore-SSM-Dev/MyPetStore-OrderService/src/main/java/com/csu/mypetstoreorderservice/controller